{% extends 'products/base.html' %}

{% block title %}
  Products list
{% endblock %}

{% block body %}
  <div>
    <ul>
      {% for product in products %}
        <li>
          <a href="{{ url_for('products_app.detail', product_id=product.id) }}">
            {{ product.name }} #{{ product.id }}</a>
          added {{ product.created_at }}
        </li>
      {% endfor %}
    </ul>
    <a href="{{ url_for('products_app.add') }}">Add new product</a>
  </div>
{% endblock %}
